#UI {
    position : absolute;
    width : 50vw;
    height: 100vh;
    right: 0;
    background-color: grey;
}

#sketch {
    position : absolute;
    left: 0;
    width : 50vw;
    height: 100vh;
}

body {
    margin : 0;
    padding: 0;
}

#controlCurve {
    height : 100vh;
    background-color: beige;
    width : 200px;
}